<main class="main">
  <section class="todo-container">
    <h1>TODO List</h1>
    <h2>A place to store your todos</h2>
    <form #filterForm="ngForm" (input)="setSearchTerm(filterForm)" class="form">
      <input
        type="text"
        id="searchTerm"
        name="searchTerm"
        placeholder="Filter your todos"
        ngModel 
      />
    </form>
    <ol class="ordered-list">
      <li *ngFor="let todo of todos; index as i">
        <div class="list-item">
          <button
            (click)="completeTask(i)"
            class="complete"
            *ngIf="todo.completed === false"
          >
            Complete
          </button>
          <p class="task" [ngClass]="{ strike: todo.completed }">
            {{ todo.task }}
          </p>
          <button (click)="removeTask(i)">X</button>
        </div>
      </li>
    </ol>
    <form #addTaskForm="ngForm" (ngSubmit)="addTask(addTaskForm)" class="form">
      <input type="text" name="task" placeholder="Add your todos" ngModel />
      <button class="add">Add</button>
    </form>
  </section>
</main>
